body{
    background-image: url('/public/assets/water.jpg');
    background-size: cover;
}

.formc{
    color: black;
    text-align-last: center;
    background: white;
    border-radius: 18px;
    width: 335px;
    margin-inline: auto;
    padding-block-end: 15px;
    padding-block-start: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-shadow:4px 4px 0px 1px #8d8c8ca2;

}
#login{
    margin-block-start: 5%;
}
#register{
    margin-block-start: 1%;
    display: none;
}
#register p:first-of-type{
    margin-block-start: 2px;
}
#register #gotologin{
    margin-block-start: -17px;
}

.formc h2{
    font-size: 23px;
    margin-block-end: 0px;
}


p{
    font-size: 11px;
}
.formc p:nth-child(2){
    margin-block-start: 0px;
    margin-block-end:35px;
    color: rgb(93, 93, 93);
}
form  p:first-of-type{
float: right;
margin-block-start: -20px;
margin-inline-end: 45px;
}
form p:first-of-type:hover,p:last-of-type:hover{
    cursor: pointer;
}
.formc p:last-of-type{
margin-block-start: 18px;

}

.user-box .input{
    display: block;
    margin-inline: auto;
    margin-block-end: 30px;
    height: 20px;
    width: 238px;
    border-radius: 15px;
    border: 0px;
    background: #231d27;
    color: white;
    text-align-last: left;
    padding-inline-start: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-shadow:4px 4px 2px 0px #6b6b6b96;



}
/* .input::-webkit-input-placeholder {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 10px;
  } */

  form #button,#button2{
    margin-block-start: 25px;
    text-align-last: center;
    background: #FF1447;
    font-size: 18px;
    height: 38px;
    width: 238px;
    border-radius: 15px;
    border: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-shadow:4px 4px 2px 0px #6b6b6b96;
    font-weight: bold;
    color: white;

  }
  .social{
    /* width: 45px;
    height: 45px; */
    /* border-radius: 25px;
    font-weight: bold; */
    background: #ffffff;
    border: 0px;
    margin-inline: 10px;
    margin-block-start: 5px;
    background-repeat: no-repeat;
    height: 42px;
    width: 118px;
    
  }
  #facebook,#facebook2{
    /* color: #166aac;
    font-size: 20px; */
    background-image: url('/public/assets/facebook.svg');
    
  }
  #google,#google2{
    /* color: red;
    font-size: 18px; */
    background-image: url('/public/assets/google.svg');
  }


  /*-------------------------------------------- input animations -------------------------------------*/

  
   .user-box {
    position: relative;
  }
  
  .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
 .user-box label {
    position: absolute;
    top:2px;
    left: 63px;
    padding: 10px 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 10px;
    color: rgb(101, 101, 101);
    pointer-events: none;
    transition: .5s;
  }
  
 .user-box input:focus ~ label,
 .user-box input:valid ~ label {
    top: -27px;
    left: 45px;
    color: #b10000;
    font-size: 12px;
  }
  

  
  
  


  
 
 